{% extends "base.html" %}


{% block title %}
Upload Data
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>Upload Data</h1>

    <p>
        Upload a CSV or Excel file for analysis.
    </p>

</div>


<div class="upload-card">

    <form
        action="{{ url_for('main.upload') }}"
        method="POST"
        enctype="multipart/form-data"
    >

        <div class="form-group">

            <label for="file">
                Select Data File
            </label>

            <input
                type="file"
                id="file"
                name="file"
                accept=".csv,.xlsx,.xls"
                required
            >

        </div>


        <button
            type="submit"
            class="upload-button"
        >
            Upload File
        </button>

    </form>

</div>


{% with messages = get_flashed_messages() %}

    {% if messages %}

        <div class="messages">

            {% for message in messages %}

                <div class="message">
                    {{ message }}
                </div>

            {% endfor %}

        </div>

    {% endif %}

{% endwith %}


{% endblock %}